/.editorconfig
/.gitignore
/.npmignore
/.travis.yml
/karma.conf.js
/tsconfig.json
/webpack.config.js
/yarn.lock
/test
/test-kit
/typings
/examples
/src
/dist/test
/dist/test-kit
/dist/*.bundle.js
/logo.png
/upstream
